/* You can add global styles to this file, and also import other style files */
@import "./partials/fonts";
@import "./partials/variables";
@import "./partials/helper-classes";


body{
    font-family: 'Open Sans', sans-serif;
}

/* Headings */

@for $i from 1 through 6 {
    h#{$i} {
        font-size: $base-font-size + $heading-scale * (6 - $i);
    }
}

.section-title{
    letter-spacing: .25em;
    &.section-title--dark{
        color: $ele-gray-primary;
    }
    &.section-title--light{
        color: $ele-white;
    }
}