@import "../../styles/partials/variables";

.footer {
    background-color: $ele-black;
    color: $ele-white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    @media all and (min-width: $screen-min-sm){
        padding: 15px 40px;
    }
    @media all and (min-width: $screen-min-md){
        padding: 15px 90px;
    }
}
.footer__social-links{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    align-items: center;
}

.social{
    &-list__item{
        width: 20px;
        margin: 0 5px;
    }

}
.social-list__item-icon {
    width: 100%;
}

.copyright {
    font-size: 12px;
    align-self: center;
}
