/* COLORS */

$ele-white: #FFFFFF;
$ele-black: #000000;
$ele-blue-primary: #329ED1;

/* TEXTS */

$base-font-size: 1rem;
$heading-scale: 8;

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size + $heading-scale * (6 - $i);
  }
}

/* BREAKPOINTS */

$screen-min-xs:  320px;
$screen-min-sm:  768px;
$screen-min-md:  991px;
$screen-min-lg: 1200px;
$screen-max-xs:  767px;
$screen-max-sm:  990px;
$screen-max-md: 1199px;