/* COLORS */

$ele-white: #FFFFFF;
$ele-black: #000000;
$ele-blue-primary: #329ED1;
$ele-blue-secondary: #0e1c27;
$ele-gray-primary: #343434;

/* TEXTS */

$base-font-size: 1rem;
$heading-scale: 8;



/* BREAKPOINTS */

$screen-min-xs:  320px;
$screen-min-s:   480px;
$screen-min-sm:  768px;
$screen-min-md:  991px;
$screen-min-lg: 1200px;
$screen-max-xs:  767px;
$screen-max-sm:  990px;
$screen-max-md: 1199px;