<div class="hero-wraper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">Columna</div>
      <div class="col-12 col-sm-6">Columna</div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="heroCarousel" class="carousel slide" data-ride="false" data-interval="false" data-keyboard="true">
          <ol class="carousel-indicators">
            <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#heroCarousel" data-slide-to="1"></li>
            <li data-target="#heroCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item slide active">
              <div class="d-flex flex-row">
                <div class="elegra-logo"></div>
                <h2 class="slide__title">Diseñamos para pensar</h2>
                <p class="slide__text">En Elegra nos centramos en ofrecer nuestros servicios a las empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.</p>
              </div>
            </div>
            <div class="carousel-item slide">
              <img class="d-block w-100" src="..." alt="Second slide">
            </div>
            <div class="carousel-item slide">
              <img class="d-block w-100" src="..." alt="Third slide">
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div> 