<div class="hero-wraper">
  <div class="container-fluid no-padding hero-wrapper__veil">
    
    <div class="row no-margin-x">
      <div class="col-12 no-padding-x">
        <div id="heroCarousel" class="carousel" data-ride="false" data-interval="false" >
          <ol class="carousel-indicators">
            <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#heroCarousel" data-slide-to="1"></li>
            <li data-target="#heroCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item slide   active">
              <div class="d-flex flex-column align-items-center slide__content">
                <div class="elegra-logo mb-5"></div>
                <h2 class="slide__title mb-4 text-white text-uppercase text-center">Diseñamos para pensar</h2>
                <p class="slide__text text-center text-white mb-5">En Elegra nos centramos en ofrecer nuestros servicios a las empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.</p>
              </div>
            </div>
            <div class="carousel-item slide ">
              <div class="d-flex flex-column align-items-center slide__content">
                <div class="elegra-logo mb-5"></div>
                <h2 class="slide__title mb-4 text-white text-uppercase text-center">Diseñamos para pensar</h2>
                <p class="slide__text text-center text-white mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta deserunt veniam rem consectetur aliquam natus aliquid laudantium illum eum, accusamus optio voluptates assumenda quasi praesentium consequuntur cum repellat provident maxime!</p>
              </div>
            </div>
            <div class="carousel-item slide ">
              <div class="d-flex flex-column align-items-center slide__content">
                <div class="elegra-logo mb-5"></div>
                <h2 class="slide__title mb-4 text-white text-uppercase text-center">Diseñamos para pensar</h2>
                <p class="slide__text text-center text-white mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro delectus non dignissimos voluptate voluptas tempora reprehenderit voluptatum, quidem quos ducimus laudantium in, iste velit eveniet minima voluptatibus temporibus, veniam officia.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div> 