<section class="container-fluid intro-wrapper" id="intro" #intro>
  <div class="intro-block">
    <article class="intro-block__column">
      <p class="intro-block__column-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero unde exercitationem nobis ex quisquam, eius voluptatum necessitatibus, itaque nisi explicabo ipsum fugiat similique vero ullam ipsa, accusamus labore esse saepe.</p></article>
    <article class="quote intro-block__column">
      <blockquote>
        <p class="quote__content text-uppercase">Sólo podemos ver poco del futuro, pero lo suficiente para darnos cuenta de que</p>
        <p class="quote__author">Alan Turing</p>
      </blockquote>
    </article>
    <article class="intro-block__column">
      <p class="intro-block__column-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam harum laboriosam ipsam delectus reiciendis animi fugiat dolores ratione maxime debitis mollitia odit, odio expedita optio velit enim. Assumenda, autem tempore!In tempora reiciendis voluptate illo et. Sit similique sapiente modi aliquid, rerum, recusandae a explicabo possimus voluptate incidunt consequatur! In sapiente hic dolor, dolorem vel est consequatur similique illo blanditiis.</p>
    </article>
  </div>
</section>
  
