<a href="#mainContent" class="sr-only">Ir a zona de contenidos</a>
<div class="menu-wrapper">
    <div class="menu" [ngClass]="{'menu--open': menuOpen, 'menu--closed': !menuOpen}">
        <button class="menu__btn toggle-btn" (click)="onToggleMenu()">
        <div class="toggle-btn__bar toggle-btn__bar-top"></div>
        <div class="toggle-btn__bar toggle-btn__bar-middle"></div>
        <div class="toggle-btn__bar toggle-btn__bar-bottom"></div>
        </button>
        <nav class="menu__nav" role="navigation" aria-labelledby="mainMenuLabel">
            <h2 class="sr-only" id="mainMenuLabel">Menú principal</h2>
        <ul class="menu__nav-list no-padding-x">
            <li class="menu__nav-list-item mb-4"><a href="#intro" class="text-uppercase menu__nav-list-item-link">Inicio</a></li>
            <li class="menu__nav-list-item mb-4"><a href="#services" class="text-uppercase menu__nav-list-item-link">Servicios</a></li>
            <li class="menu__nav-list-item mb-4"><a href="#mainContent" class="text-uppercase menu__nav-list-item-link">Metodología</a></li>
            <li class="menu__nav-list-item mb-4"><a href="#clients" class="text-uppercase menu__nav-list-item-link">Contacto</a></li>
        </ul>
        </nav>
    </div>
</div>
<app-hero></app-hero>
<app-intro></app-intro>
<app-services></app-services>
<app-clients></app-clients>
<app-footer></app-footer>



