@import "./styles/partials/variables";

/* MENU HAMBURGER */

.menu{
    background-color: RGBA(1,5,21,0);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 0; 
    &.menu--closed{
        height: 0vh;
        transition: height 10s linear;
    }
    &.menu--open{
        height: 100vh;
        background-color: RGBA(1,5,21,.7);
        .menu__nav{
            transform: translate(-50%, -50%);
            transition: transform .3s ease-in;

        }
        .toggle-btn{
            .toggle-btn__bar-top{
                transform: rotate(35deg) translate(4px, 6px);
            }
            .toggle-btn__bar-middle{
                opacity: 0;
            }
            .toggle-btn__bar-bottom{
                transform: rotate(-35deg) translate(4px, -6px);
            }
        }
    }
}

.menu__nav {
    position: relative;
    margin-top: -70px; // para contrarrestar el tamaño + margin del botón toggle y quede centrado
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    transition: all .3s ease-out;
}

.menu__nav-list{
    text-align: center;
}

.menu__nav-list-item{
    list-style: none;
    line-height: 40px;
    font-size: 1.3em;
}

.menu__nav-list-item-link {
    font-weight: 400;
    letter-spacing: 4.285714px;
    color: $ele-white;
    text-decoration: none;
    transition: color .5s ease;
    &:hover {
        color: $ele-blue-primary;
    }
}

.menu__btn {
   
    background-color: transparent;
    border: 1px solid $ele-white;
    cursor: pointer;
    height: 30px;
    width: 40px;
    margin: 20px;
    position: static;
    transition: all .2s ease-out;
    outline: 0;
    padding: 2px;
    &:focus{
        border-color: $ele-blue-primary;
        .toggle-btn__bar{
            background-color: $ele-blue-primary;
        }
    }
    @media all and(min-width: 768px){
        margin: 30px;
    }
  }

  .toggle-btn__bar {
    width: 33px;
    height: 4px;
    background: $ele-white;
    margin: 3px 1px;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
