<a href="#mainContent" class="sr-only">Ir a zona de contenidos</a>
<div class="menu-wrapper">
    <div class="menu" [ngClass]="{'menu--open': menuOpen, 'menu--closed': !menuOpen}">
        <button class="menu__btn toggle-btn" (click)="onToggleMenu()" #btnToggle>
        <div class="toggle-btn__bar toggle-btn__bar-top"></div>
        <div class="toggle-btn__bar toggle-btn__bar-middle"></div>
        <div class="toggle-btn__bar toggle-btn__bar-bottom"></div>
        </button>
        <nav class="menu__nav" role="navigation" aria-labelledby="mainMenuLabel">
            <h2 class="sr-only" id="mainMenuLabel">Menú principal</h2>
        <ul class="menu__nav-list no-padding-x">
            <li class="menu__nav-list-item mb-4"><a [routerLink]="['/']" fragment="#mainContent" class="text-uppercase menu__nav-list-item-link" (click)="onNavigateToHero()">Inicio</a></li>
            <li class="menu__nav-list-item mb-4"><a [routerLink]="['/']" fragment="#intro" class="text-uppercase menu__nav-list-item-link" (click)="onNavigateToIntro()">Metodología</a></li>
            <li class="menu__nav-list-item mb-4"><a [routerLink]="['/']" fragment="#services" class="text-uppercase menu__nav-list-item-link" (click)="onNavigateToServices()">Servicios</a></li>
            <li class="menu__nav-list-item mb-4"><a [routerLink]="['/']" fragment="#clients" class="text-uppercase menu__nav-list-item-link" (click)="onNavigateToClients()">Clientes</a></li>
        </ul>
        </nav>
    </div>
</div>
<app-hero #mainContent ></app-hero>
<app-intro #intro></app-intro>
<app-services #services></app-services>
<app-clients #clients></app-clients>
<app-footer></app-footer>



