<section class="container-fluid services-wrapper" id="services" #services>
  <h2 class="h2 section-title section-title--light text-uppercase text-center services-title mt-5">{{sectionTitle}}</h2>
  <div class="services-content">
    <ul class="services-content-list no-padding-x">
      <li class="services-content-list__item service" *ngFor="let service of serviceList">
          <div class="services-content-list__item-content">
            <img [src]="service.imgPath" alt="service.name" class="services-content-list__item-avatar service__image" aria-hidden="true">
            <h3 class="service__title h3 text-center text-white mb-4">{{service.title}}</h3>
            <p class="service__content text-white text-center">{{service.text}}</p>
          </div>
      </li>
    </ul>
  </div>
</section>
